<template name = "addHubNote">
    <div class="col-md-12">
        <div class="hub">
            <div class="hub-content">
                <form class="form">
                    <div class="form-group {{errorClass 'text'}}">
                        <div class="controls">
                            <textarea name = "text" id = "text" class="form-control" placeholder="Write something..." rows="2"></textarea>
                            <span class="help-block">{{errorMessage 'text'}}</span>
                        </div>
                    </div>
                    <input type="submit" value="Add note" class="btn-sm btn-primary create-hub"/>
                </form>
            </div>
        </div>
    </div>
</template>