<template name = "hubAdd">
    <div class="hub">
        <div class="hub-content">
            <form class="form">
                <div class="form-group {{errorClass 'name'}}">
                    <div class="controls">
                        <input name="name" id="name" type="text" value="" placeholder="Hub name" class="form-control"/>
                        <span class="help-block">{{errorMessage 'name'}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input name="description" id="description" type="text" value="" placeholder="Description" class="form-control"/>
                    </div>
                </div>
                <input type="submit" value="Add hub" class="btn-sm btn-primary create-hub"/>
                <button type="button" class="btn-sm btn-link cancel-create-hub">Cancel</button>
            </form>
        </div>
    </div>
</template>