<template name = "hubItem">
    <div class="hub">
        <div class="hub-content">
            <h3>{{name}}</h3>
            <p>{{description}}&nbsp;</p>
            <p class = "hub-footer">
                Last activity on {{lastModifiedFormattedDate}} |
                {{#if canJoin}}
                    <a href="{{pathFor 'hubActivity'}}">Join</a> |
                {{/if}}
                {{#if canCreateNotes}}
                    <a href="{{pathFor 'hubNotes'}}">Notes</a> |
                {{/if}}
                {{#if ownHub}}
                    <a href="{{pathFor 'configureHubParticipants'}}">Configure</a> |
                    <a href="#" class="text-danger delete">Delete</a>
                {{/if}}
            </p>
        </div>
    </div>
</template>