<template name = "hubsListHeader">
    <div class="row-fluid hubs-header">
        <ul class="nav nav-pills" style="margin-bottom: 10px;">
            <li class="active add-hub">
                <a href="{{pathFor 'addHub'}}">Add new</a>
            </li>
            <li class="{{filterClass 'all'}} filter-all pull-right">
                <a href="#">All <span class="badge">{{hubsCount 'all'}}</span></a>
            </li>
            <li class="{{filterClass 'mine'}} filter-mine pull-right">
                <a href="#">Mine <span class="badge">{{hubsCount 'mine'}}</span></a>
            </li>
        </ul>
    </div>
</template>
