<template name="hubConfigureParticipants">
    <div class="row">
        <div class="col-md-8">
            {{#each hubUsers}}
              {{> hubUser}}
            {{/each}}
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class = "col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control searchTerm" placeholder="Search for users...">
                        <span class="input-group-btn">
                          <button class = "btn btn-primary doSearch" {{buttonEnabled}}>Search</button>
                        </span>
                    </div>
                </div>
            </div>
          {{#each foundUsers}}
            {{> hubUserSearchItem}}
          {{/each}}
        </div>
    </div>
</template>