<template name="header">
    <nav class="navbar navbar-default app-header" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ pathFor 'home'}}">Scrum Hub</a>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right login-area">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>